.overlayContainer {
  background: linear-gradient(
    109.92deg,
    rgba(255, 255, 255, 0.69) -1.53%,
    rgba(255, 255, 255, 0) 100.91%
  );
  backdrop-filter: blur(20px);
  border-radius: 15px;
  padding: 61px 50px 74px 50px;
  height: fit-content;
}

.termLink {
  color: #ffffff !important;
  max-height: 35px;
}
.termLink:active {
  color: blue;
}

.overlayTitle {
  font-family: Lexend;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-transform: capitalize;

  color: #ffffff;
}

.overlayTitleContainer {
  margin-bottom: 63px;
}

.frequentHeader {
  font-family: Lexend;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.225em;
  text-transform: uppercase;
  color: #ffffff;
}

.frequentActionBtn {
  font-family: Lexend;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.025em;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #ffffff;
  cursor: pointer;
}

.frequentlySearchedContainer {
  padding-left: 4rem;
  padding-right: 4rem;
}

.frequentHeaderContainer {
  margin-bottom: 10px;
}

.forwardArrow {
  margin-right: 41px;
}
.frequentBodyContainer {
  margin-left: 13% !important;
}

.eachSearchTerm {
  font-family: Lexend;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height */

  text-transform: capitalize;

  color: #ffffff;
  margin: 1.5rem auto;
}

.oddSearchTerm {
  justify-content: flex-start;
  padding-left: 5 rem;
}
